html,
body {
	height: 100%;
	font-family: $font-primary;
}
section {
	padding-top: 100px;
	padding-bottom: 100px;
}
section#about {
	padding-bottom: 0;
}
a {
	color: $color-light;
	&:focus, 
	&:hover {
		text-decoration: none;
		color: $color-light-hover;
	}
}
.bg-dark {
	background-color: $bg-dark;
}
.title {
	font-family: $font-style;
}